<div class="parent"> 
  <!--  <app-layout [pageTitle]="'New Password'"></app-layout> -->
    <div class="container">
        <img src="../../../assets/images/forgot_pass_background.svg" alt="">
        <img id="logo" src="../../../assets/images/logo_white.svg" alt="">
        <form class="form-container">
            <h1>{{ 'enterNewPassword' | translate }}</h1>

            <p-password placeholder="New Password" [toggleMask]="true" [feedback]="true" name="newpassword" [(ngModel)]="newPassword" required="true"  styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}">
                <ng-template pTemplate="footer">
                    <!-- <p-divider></p-divider> -->
                    <p style="font-size: 14px; margin:4px">{{ 'suggestions' | translate }}:</p>
                    <ul class="pl-2 ml-2 mt-0" style="font-size: 14px;">
                        <li>{{ 'rule1' | translate }}</li>
                        <li>{{ 'rule2' | translate }}</li>
                        <li>{{ 'rule3' | translate }}</li>
                        <li>{{ 'rule4' | translate }}</li>
                    </ul>
                </ng-template>
            </p-password>

            <p-password placeholder="Repeat Password" [toggleMask]="true" [feedback]="false" name="repeatnewpassword" [(ngModel)]="repeatnewPassword" required="true"  styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}"
            [inputStyle]="{'width':'100%'}"></p-password>
            <span class="err-mssg" style="color: red;" *ngIf="passwordsDoNotMatch">{{ 'passwordsAreNotTheSame' | translate }}!</span>
            <button  style="cursor: pointer;" id="send" (click)="resetPassword()">{{ 'submitNewPassword' | translate }}</button>
        </form>
    </div>
</div>
