

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

app-layout {
    position: relative;
    top: 0;
    width: 100%;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    border-radius: 50px;
   
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 90%;
    background: linear-gradient(148deg, #005F73 0%, #00B3D9 100%);
  
}

.container img{
    height: 100%;
}

.container #logo{
    position: absolute;
    height: 140px;
    width: 140px;
    top: -5%;
    right: 3%;
}

.container p{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container h1{
    font-size: 24px;
    margin-bottom: 15px;
}

.container span{
    font-size: 14px;
}

.container a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.form-container{
    position: absolute;
    top: 25%;
    right: 8%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4% 1%;
    width: 45%;
}

.container input{
    border: none;
    margin: 8px 0;
    font-size: 16px;
    padding: 8px 5px;
    width: 85%;
    outline: none;
    border-bottom: 3px solid rgb(92, 165, 255);
}

.container input:hover{
    background-color: #c9d6ff;
    border-radius: 5px;
}

:host ::ng-deep p-password input{
    border: none;
    margin: 4px 0;
}

:host ::ng-deep p-password input:focus{
    background-color: #c9d6ff;
}

:host ::ng-deep p-password { 
    border: none;
    margin: 0;
    font-size: 16px;
    padding: 0;
    outline: none;
    border-bottom: 3px solid rgb(92, 165, 255);
}
  

:host ::ng-deep .p-password-panel { 
    margin-top: 10px;
    padding: 10px;
}


.container h1,p{
    color:#3495f5; ;
}


#send{
    font-size: 12px;
    padding: 10px;
    border-radius: 25px;
    width: 45%;
    background-color: #1864a2;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#send:hover{
    background-color: #3495f5;
}



// RESPONSIVE

@media screen and (min-width: 370px) and (max-width:550px) {

    .form-container{
        width: 80%;
    }

    #send{
        font-size: 14px;
        padding: 8px;
        width: 80%;
    }

    .container h1{
        font-size: 20px;
    }

    :host ::ng-deep p-password input{ 
        font-size: 12px;
        padding: 2px;
    }

    #send{
        font-size: 12px;
        padding: 5px;
    }
    
}

@media screen and (min-width: 550px) and (max-width:700px){

    .form-container{
        width: 70%;
    }

    #send{
        // font-size: 14px;
        padding: 8px;
        width: 80%;
    }

    .container h1{
        font-size: 22px;
    }

    :host ::ng-deep p-password input{ 
        padding: 5px;
    }

}

@media screen and (min-width: 700px) and (max-width:900px){

    .form-container{
        width: 60%;
    }

    #send{
        // font-size: 14px;
        padding: 8px;
        width: 70%;
    }

    .container h1{
        font-size: 22px;
    }

}

@media screen and (min-width: 900px) and (max-width:1100px){

    .form-container{
        width: 55%;
    }

    #send{
        // font-size: 14px;
        padding: 8px;
        width: 60%;
    }
}
