@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.mdc-dialog__title {
    text-align: center;
    color: rgb(96, 96, 96); 
    border-bottom: 2px solid #28B4E1;
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
    padding: 10px 0;
    border-radius: 6px ;
}
.overlay{
 border-radius: 6px;
}
h2{
  color: rgb(96, 96, 96); 
    border-bottom: 2px solid #28B4E1;
    margin-bottom: 15px;
    margin-top: 0;
    color: rgb(96, 96, 96); 
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px 6px 0 0;
    font-size: 18px;
    font-size: small;
}

.mdc-dialog__content {
    overflow: hidden;
    padding: 0;
    margin: 10px 20px
}


.mat-mdc-dialog-actions {
    justify-content: center;
    gap: 10px;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title .mat-mdc-dialog-content {
    padding: 0;
}



    button {
      padding: 8px 20px;
      margin-left: 10px;
      border-radius: 6px;
      box-shadow: 1px 3px 12px 0px rgba(0, 0, 0, 0.22);
      cursor: pointer;

      &:hover {
        transform: scale(1.05); 
      }

      &.cancel-btn {
        color: #28B4E1; 
        border: 2px solid #28B4E1; 
        background-color: white;
      }

      &.create-btn {
        color: white; 
        background-color: #28B4E1; 
        border: 2px solid #28B4E1;
      }
    }
  
.toggle{
  margin: 10%;
}
.mat-mdc-slide-toggle.mat-accent{
    --mdc-switch-selected-track-color: rgb(0,209,0);
    --mdc-switch-selected-handle-color: rgb(0,209,0);
    --mdc-switch-selected-hover-track-color: rgb(0,209,0);
    --mdc-switch-selected-hover-handle-color: rgb(0,209,0);
    --mdc-switch-selected-focus-track-color: rgb(0,209,0);
    --mdc-switch-selected-focus-handle-color: rgb(0,209,0);
    --mdc-switch-selected-pressed-track-color: rgb(0,209,0);
    --mdc-switch-selected-pressed-handle-color: rgb(0,209,0);
}

.dark .mat-mdc-slide-toggle.mat-accent{
    --mdc-form-field-label-text-color:white;
}

.dark .content h2{
    
  background-color:#3b82f6;
    color: white;
}

.dark .content .cancel-btn{
    background-color: #DB2777;
    color: white;
    border: #DB2777;
  }
  
  .dark .content .create-btn{
    background-color: #6366F1;
    color: white;
    border: #6366F1;
  }