

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*
app-layout {
    position: relative;
    top: 0;
    width: 100%;
}
*/

.parent{
    background-color: white;
    // background: linear-gradient(180deg, #F5A40D 0%, #A84A13 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 90%;
    background: linear-gradient(148deg, #005F73 0%, #00B3D9 100%);
}

.container img{
    height: 100%;
}

.container #logo{
    position: absolute;
    height: 140px;
    width: 140px;
    top: -5%;
    right: 3%;
}

.container h1{
    font-size: 24px;
}

.container p{
    font-size: 16px;
    margin: 10px 0;
}

.container span{
    font-size: 16px;
}

.container a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}


.form-container{
    position: absolute;
    top: 25%;
    right: 10%;
    border: none;
    border-radius: 6px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4% 3%;
    width: 45%;
}

.container input{
    border: none;
    margin: 8px 0;
    font-size: 16px;
    padding: 8px 5px;
    width: 100%;
    outline: none;
    border-bottom: 3px solid rgb(92, 165, 255);
}

.container input:hover{
    background-color: #c9d6ff;
    border-radius: 6px;
}

.container h1,p{
    color:#1F4768; ;
}


#send{
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    width: 50%;
    background-color: #1864a2;
}

#send:hover{
    background-color: #3495f5;
}

#back{
    background-color: transparent;
    color: #0f4d81;
    font-size: 16px;
    text-transform: none;
}

#back:hover{
    color: #31a1fd;
}





// RESPONSIVE

@media screen and (min-width: 370px) and (max-width:550px) {

    .form-container{
        width: 80%;
    }

    #send{
        font-size: 14px;
        padding: 8px;
        width: 80%;
    }
    
}

@media screen and (min-width: 550px) and (max-width:700px){

    .form-container{
        width: 70%;
    }

    #send{
        font-size: 14px;
        padding: 8px;
        width: 70%;
    }

}

@media screen and (min-width: 700px) and (max-width:900px){

    .form-container{
        width: 60%;
    }

    #send{
        font-size: 14px;
        padding: 8px;
        width: 70%;
    }

}

@media screen and (min-width: 900px) and (max-width:1100px){

    .form-container{
        width: 55%;
    }
}

